@using TheBlogProject.Services
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService ImageService
@model IPagedList<Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @post.Abstract
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">@post.BlogUser.FullName</a>
                        on @post.Created.ToString("dd MMM, yyyy")
                    </p>
                </div>
                <div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                        <a asp-action="Details" asp-route-slug="@post.Slug">Details</a> |
                        <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <!-- Pager-->
                @*<div class="d-flex justify-content-end mb-4"><a class="rounded-3 btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>*@
        
            <!-- Add Paging controls here -->

            <div class="row">
                <div class="col h3">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @Html.PagedListPager(Model, page => Url.Action("BlogPostsIndex", new { id = Model.FirstOrDefault().BlogId, page = page}),
                        new PagedListRenderOptionsBase
                        {
                            LiElementClasses = new string[] {"page-item"},
                            PageClasses = new string[] {"page-link"}
                        })
                </div>
            </div>
        
            </div>
    </div>
</div>