@using TheBlogProject.Services
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService ImageService
@model IPagedList<Blog>


@{
    ViewData["Title"] = "Home Page";
}
<div class="container px-4 px-lg-5">
    <div class="row">
        
            <!-- Post preview-->
            @foreach (var blog in Model)
            {
                <div class="col-4 gx-4 gx-lg-5 justify-content-center mb-2">
                
                <div class="card bg-white shadow-sm">
                    <div class="card-body text-center">
                        <div class="bg-warning">
                            <hr class="card-hr" />
                            <a asp-controller="Posts" asp-action="BlogPostsIndex" asp-route-id="@blog.Id"><h5 class="card-title">@blog.Name</h5></a>
                            <hr class="card-hr" />
                        </div>
                        <div>
                            <p class="card-text">@blog.Description</p>
                        </div>

                        <br />
                        <div class="text-center">
                            <a class="rounded-3 btn btn-dark btn-sm mb-2" asp-controller="Posts" asp-action="BlogPostsIndex" asp-route-id="@blog.Id">Read More</a>
                        </div>

                    </div>
                    <img class="card-img-bottom" src="@ImageService.DecodeImage(blog.ImageData,  blog.ContentType)" />
                </div>
                </div> 
            }  
                    
            <!-- Pager-->
            @*<div class="d-flex justify-content-end mb-4"><a class="rounded-3 btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>*@

            <!-- Add Paging controls here -->

            <div class="row">
                <div class="col h3">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
                        new PagedListRenderOptionsBase
                        {
                            LiElementClasses = new string[] {"page-item"},
                            PageClasses = new string[] {"page-link"}
                        })
                </div>
            </div>
        </div>
    
</div>


@section Scripts
{
    <script>

    </script>
}
